/*misc*/
* {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px; }

html {
  font-size: 62.5%; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }

img {
  width: 100%; }

@media only screen and (max-width: 767px) {
  .navbar-nav {
    text-align: center;
    background: rgba(0, 0, 0, 0.5); }
  .carousel-caption {
    bottom: 165px; }
  .carousel-caption h5 {
    font-size: 17px; }
  .carousel-caption a {
    padding: 10px 15px;
    font-size: 15px; } }

/*header*/
header .navbar .navbar-nav a {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold; }

header .navbar .navbar-nav .nav-link {
  color: #fff; }

header .navbar .navbar-brand {
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px; }

header .navbar .navbar-toggler {
  padding: 1px 5px;
  font-size: 18px;
  line-height: 0.3;
  background: #fff; }

header .navbar .navbar-brand:focus, header .navbar .navbar-dark .navbar-brand:hover {
  color: #fff; }

header .navbar .navbar-dark .navbar-nav .nav-link:focus, header .navbar .navbar-dark .navbar-nav .nav-link:hover {
  color: #fff; }

/*footer*/
footer .hr hr {
  border: none;
  height: 1px;
  background-color: black; }

footer a:hover {
  transform: scale(1.1) !important; }

footer .fa-brands:hover {
  transform: scale(1.2) !important; }

/*index*/
main .carousel .carousel-item {
  height: 100vh;
  min-height: 300px; }
  main .carousel .carousel-item img {
    background-color: transparent;
    opacity: 0.8; }

main .carousel .carousel-caption {
  bottom: 220px; }
  main .carousel .carousel-caption h5 {
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px; }
  main .carousel .carousel-caption p {
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9; }
  main .carousel .carousel-caption a {
    text-transform: uppercase;
    text-decoration: none;
    background-color: transparent;
    opacity: 0.6;
    padding: 10px 30px;
    display: inline-block;
    color: #000;
    margin-top: 15px; }
  main .carousel .carousel-caption a:hover {
    color: white !important;
    background-color: #000 !important;
    opacity: 0.4 !important; }

main .container {
  padding-top: 8%; }
  main .container h1 {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
    font-weight: bold; }
  main .container .single-team {
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    perspective: 1000px;
    -webkit-perspective: 1000px; }
    main .container .single-team .single-team:hover .team-img {
      opacity: 0;
      transform: translateX(-110px) rotateY(90deg); }
    main .container .single-team .single-team:hover .team-text {
      opacity: 1;
      transform: rotateY(0); }
  main .container .team-img {
    width: 100%;
    height: 250px;
    padding: 20px;
    text-align: center;
    transition: all .5s ease; }
  main .container .one {
    background-image: url(../img/Grande.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center; }
  main .container .two {
    background-image: url(../img/Mediano.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center; }
  main .container .three {
    background-image: url(../img/Chico.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center; }
  main .container .team-text {
    position: absolute;
    width: 100%;
    height: 250px;
    padding: 20px;
    text-align: center;
    transition: all .5s ease;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    background-color: #141523;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transform: translateX(110px) rotateY(-90deg);
    color: white; }
    main .container .team-text h2 {
      text-transform: uppercase;
      font-weight: 700; }
    main .container .team-text h4 {
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 300; }
    main .container .team-text p {
      line-height: 2; }
  main .container .img-area {
    position: relative;
    top: 80px;
    transform: translateX(-50%); }

/*about*/
main .backgroud-about {
  background-color: #fbede0; }

main .about {
  background: linear-gradient(#fbede0 85%, white); }
