footer{
    .hr{
        hr{
            border: none;
            height: 1px;
            background-color: black;
        }
    }

    a:hover{
        transform: scale(1.1) !important;
    }

    .fa-brands:hover{
        transform: scale(1.2) !important;
    }

    
}