header{
    .navbar{
        .navbar-nav{
            a{
                font-size: 18px;
                text-transform: uppercase;
                font-weight: bold;
            }
            .nav-link {
                color: #fff;
            }
        }
        .navbar-brand{
            color: #fff;
	        font-size: 25px;
	        text-transform: uppercase;
	        font-weight: bold;
	        letter-spacing: 2px;
        }
        .navbar-toggler {
            padding: 1px 5px;
            font-size: 18px;
            line-height: 0.3;
            background: #fff;
        }
        .navbar-brand:focus, .navbar-dark .navbar-brand:hover {
            color: #fff;
        }

        .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
            color: #fff;
        }
    }
}