main{
    .carousel{
        .carousel-item {
            height: 100vh;
            min-height: 300px;
            img{
                background-color: transparent;
                opacity: 0.8;
            }
        }
        .carousel-caption {
            bottom: 220px;
            h5 {
                font-size: 45px;
                text-transform: uppercase;
                letter-spacing: 2px;
                margin-top: 25px;
            }
            p {
                width: 60%;
                margin: auto;
                font-size: 18px;
                line-height: 1.9;
            }
            a {
                text-transform: uppercase;
                text-decoration: none;
                background-color: transparent;
                opacity: 0.6;
                padding: 10px 30px;
                display: inline-block;
                color: #000;
                margin-top: 15px;
            }
            a:hover{
                color: white !important;
                background-color: #000 !important;
                opacity: 0.4 !important;
            }
        }
    }

    .container{
        padding-top: 8%;
        h1 {
            font-size: 40px;
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 40px;
            font-weight: bold;
        }
        .single-team {
            position: relative;
            overflow: hidden;
            margin-bottom: 10px;
            perspective: 1000px;
            -webkit-perspective: 1000px;
            .single-team:hover .team-img {
                opacity: 0;
                transform: translateX(-110px) rotateY(90deg);
            }
            .single-team:hover .team-text {
                opacity: 1;
                transform: rotateY(0);
            }
        }
        .team-img {
            width: 100%;
            height: 250px;
            padding: 20px;
            text-align: center;
            transition: all .5s ease;
        }
        .one {
            background-image: url(../img/Grande.jpg);
            -webkit-background-size: cover;
            background-size: cover;
            background-position: center center;
        }
        .two {
            background-image: url(../img/Mediano.jpg);
            -webkit-background-size: cover;
            background-size: cover;
            background-position: center center;
        }
        .three {
            background-image: url(../img/Chico.jpg);
            -webkit-background-size: cover;
            background-size: cover;
            background-position: center center;
        }
        .team-text {
            position: absolute;
            width: 100%;
            height: 250px;
            padding: 20px;
            text-align: center;
            transition: all .5s ease;
            top: 0;
            left: 0;
            z-index: 1;
            opacity: 0;
            background-color: #141523;
            backface-visibility: hidden;
            transform-style: preserve-3d;
            transform: translateX(110px) rotateY(-90deg);
            color: white;
            h2 {
                text-transform: uppercase;
                font-weight: 700;
            }
            h4 {
                text-transform: uppercase;
                letter-spacing: 2px;
                font-weight: 300;
            }
            p {
                line-height: 2;
            }
        }
        .img-area {
            position: relative;
            top: 80px;
            transform: translateX(-50%);
        }
    }
}