* {
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;
}

html{
	font-size: 62.5%;
}

ul{
	list-style-type: none;
}

a{
	text-decoration: none;
}

img{
	width: 100%;
}

@media only screen and (max-width: 767px) {
	.navbar-nav {
		text-align: center;
		background: rgba(0, 0, 0, 0.5);
	}
	.carousel-caption {
		bottom: 165px;
	}
	.carousel-caption h5 {
		font-size: 17px;
	}
	.carousel-caption a {
		padding: 10px 15px;
		font-size: 15px;
	}
}